{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
<body style="background-color:rgb(136, 151, 165);">
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Add New Book</h1>
        {% if message %}
        <div>
            {{message }}
        </div>
        {% endif %}
        <!-- Book Issue Section -->
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">Add Book</h5>
                <form method="POST" action="/books">
               
                    <div class="row">
                        
                        <div class="col-md-6 mb-3">
                            <label for="title" class="form-label">Book Name</label>
                            <input type="text" name="title" id="title" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="book_id" class="form-label">Author</label>
                            <input type="text" name="author" id="author" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="published_year" class="form-label">Published year</label>
                            <input type="number" name="published_year" id="published_year" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="available_copies" class="form-label">Available copies</label>
                            <input type="number" name="available_copies" id="available_copies" class="form-control" required>
                        </div>
                        
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Add Book</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Display Success and Error Messages -->
        

        <!-- Display Existing Books -->
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Books Available</h5>
                <form action="/books" method="GET">
                    <label for="search">Search Book:</label>
                    <input type="text" id="title" name="title" placeholder="Enter book name" required>
                    <button type="submit">Search</button>
                </form>
                <form action="/books" method="GET">
                    <label for="search">Search Book Id:</label>
                    <input type="text" id="book_id" name="book_id" placeholder="Enter book id" required>
                    <button type="submit">Search</button>
                </form>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book ID</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Published Year</th>
                            <th>Available Copies</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% if books %}
                        {% for book in books %}
                            <tr>
                                <td>{{ loop.index }}</td> <!-- Use 'loop.index' for 1-based counter -->
                                <td>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.published_year  }}</td>
                                <td>{{ book.available_copies }}</td>
                                <td>
                                    <form action="/books/{{ book.id }}" method="post">
                                
                                        <input type="hidden" name="_method" value="PATCH">  <!-- Custom method for PATCH -->
                                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                                    </form>
                                    <form action="/books/{{ book.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this Book')">
                                        
                                        <input type="hidden" name="_method" value="DELETE">  <!-- Custom method for DELETE -->
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                
                                </td>
                            </tr>
                        {% endfor %}
                        <div>
                            {% if books.has_prev %}
                            <a href="{{ url_for('get_books', page=books.prev_num) }}">Previous</a>
                            {% endif %}
                            {% if books.has_next %}
                            <a href="{{ url_for('get_books', page=books.next_num) }}">Next</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="7" style="text-align: center;">No books available.</td>
                        </tr>
                    {% endif %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}